.background{
  animation: color-change-2x 7s linear infinite alternate both;
}

.top{
  position:relative;
  background:#FFB5A7;
    background:linear-gradient(#FCD5CE, #FFB5A7);
  height:120px;
  margin:-8px;
}

@keyframes color-change-2x {
  0% {
    background:#F8EDEB
  }
  100% {
    background:#F9DCC4
  }
}

.name{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:30px;
  left:105px;
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.textcontent1{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:30px;
  left:650px;
}

.textcontent2{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:30px;
  left:915px;
}

.textcontent3{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:85px;
  left:915px;
  font-size:13px;
}

.topbox1{
  position:absolute;
  top:50px;
  left:650px;
  height:23px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.topbox2{
  position:absolute;
  top:50px;
  left:915px;
  height:23px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.login{
  position:absolute;
  font-family:'Chivo';
  left:1180px;
  top:50px;
  height:29px;
  width:100px;
  font-weight:bold;
  background:#FFB5A7;
  color:#4E3D42;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.info{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:190px;
  left:105px;
  right:890px;
  font-size:50px;
}

.createtext{
  position:absolute;
  font-family:'Chivo';
  font-weight:bold;
  color:#4E3D42;
  top:190px;
  left:680px;
  font-size:30px;
}

.create1{
  position:absolute;
  font-family:'Chivo';
  top:280px;
  left:680px;
  height:31px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.create2{
  position:absolute;
  font-family:'Chivo';
  top:280px;
  left:970px;
  height:31px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.create3{
  position:absolute;
  font-family:'Chivo';
  top:325px;
  left:680px;
  height:31px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.create4{
  position:absolute;
  font-family:'Chivo';
  top:370px;
  left:680px;
  height:31px;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.birthday{
  position:absolute;
  font-family:'Chivo';
  top:425px;
  left:680px;
  height:50px;
  font-size:20px;
  font-weight:bold;
  color:#4E3D42;
}

.gender{
  position:absolute;
  font-family:'Chivo';
  top:485px;
  left:680px;
  height:50px;
  font-size:20px;
  font-weight:bold;
  color:#4E3D42;
}

.signup{
  position:absolute;
  font-family:'Chivo';
  left:680px;
  top:570px;
  height:45px;
  width:115px;
  font-size:25px;
  font-weight:bold;
  background:#FFB5A7;
  color:#4E3D42;
  border: 2px solid #4E3D42;
  border-radius: 4px;
}

.textbelow{
  position:absolute;
  font-family:'Chivo';
  top:620px;
  left:680px;
  right:65px;
  height:50px;
  font-size:14px;
  color:#4E3D42;
}

.credit{
  position:absolute;
  font-family:'Chivo';
  top:730px;
  left:10px;
  right:65px;
  font-size:15px;
  color:#4E3D42;
}
